<p>こんにちは<%= @email %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが次のように変更されました。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスが次のように変更されました。 <%= @resource.email %>.</p>
<% end %>
