<%= content_for(:bg_area) do %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">遊び場検索</h1>
      <p class="lead">アクティビティ投稿、閲覧サイトです。</p>
    </div>
  </div>
<% end %>

<div class="d-flex justify-content-center">
  <h2>start app<%= link_to "new User", new_user_registration_path, class: "btn btn-primary btn-lg ml-2" %></h2>
</div>