<table class="table table-bordered">
  <thead>
    <tr>
      <th>施設名</th>
      <th>住所</th>
      <th>天気</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.address %></td>
        <td><%= spot.weather_i18n %></td>
        <td><%= link_to "詳細", spot_path(spot), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>