<h1>ユーザー</h1>
<div class="row">
  <div class="col-md-3">
    <%= render "layouts/admin_info" %>
  </div>
  <div class="col-md-9">
    <%= render "admin/users/search" %>
    <%= render "admin/users/users", users: @users %>
  </div>
</div>