<table class="table table-bordered">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "詳細", user_path(user), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>